.black {
    background-color: black;
}

.grey {
    background-color: #1a1a1a;
}

.title {
    position: absolute;
    color: #b72323;
    font-size: 12rem;
    font-family: dharma-gothic-c, sans-serif;
}

th {
    font-family: 'Fjalla One', sans-serif;;
}

.inputcolour {
    background-color: #2f2f2f;
    border-color: #2f2f2f;
}

.label {
    margin-right:15px;
  }

  .chevrondisplayone {
    -webkit-transform-origin: left top;
    -webkit-transform:rotate(-90deg);
    margin-top: 500px;
  }

  .chevrondisplaytwo {
    -webkit-transform-origin: right top;
    -webkit-transform:rotate(90deg);
    margin-top: 535px;
  }

  .pagetitle {
      z-index: 1000;
  }

  .chevronbackground {
      z-index: 100;
  }